@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950 transition-colors duration-200;
  min-height: 100dvh;
  margin: 0;
  width: 100%;
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

body {
  margin-right: 15px;
}

main {
  min-height: inherit;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(100px);
}
